<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<meta charset="UTF-8">
<title>Learnish</title>
<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
<link
	href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"
	rel="stylesheet">
</head>

<body>
	<div class="side">Wybierz kategorię</div>
	<div id="container">
		<div id="nounsBox" onclick="window.location.href='/words/NOUNS'">
			<img id="nounsImg" src="/resources/images/nouns.png">
			<h1>Rzeczowniki</h1>
			<h2 th:text="'0/' + ${nouns}"></h2>
		</div>
		<div id="verbsBox" onclick="window.location.href='/words/VERBS'">
			<img id="verbsImg" src="/resources/images/verbs.png">
			<h1>Czasowniki</h1>
			<h2 th:text="'0/' + ${verbs}"></h2>
		</div>
		<div id="adjectivesBox" onclick="window.location.href='/words/ADJECTIVES'">
			<img id="adjectivesImg" src="/resources/images/adjectives.png">
			<h1>Przymiotniki</h1>
			<h2 th:text="'0/' + ${adjectives}"></h2>
		</div>
		<div id="othersBox" onclick="window.location.href='/words/OTHERS'">
			<img id="othersImg" src="/resources/images/others.png">
			<h1>Inne</h1>
			<h2 th:text="'0/' + ${others}"></h2>
		</div>
	</div>
	<div class="side" id="foot"><span th:text="'Ogólny postęp: 0/' + ${nouns + verbs + adjectives + others}"></span></div>
</body>

</html>