<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Learnish</title>
<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
<link
	href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"
	rel="stylesheet">
	
<script th:inline="javascript">
var progressList = [[${listOfProgress}]];
var sumWords = 0;
var sumSavedWords = 0;

window.onload = function() {
	progressList.forEach(countWords);
	document.getElementById("progress").innerHTML = 'Ogólny postęp : ' + sumSavedWords + '/' + sumWords;
};


function countWords(item) {
	sumWords += item.numberOfWords;
	sumSavedWords += item.numberOfSavedWords;
}


</script>	

</head>

<body>
	<div class="side">Wybierz kategorię</div>
	<div id="container">
			<th:block th:each="progress : ${listOfProgress}">
					<div class="category" th:id="${progress.category} + 'Box'" th:onclick="'window.location.href = \'' + @{/words/{category}(category=${progress.category})} + '\''">
						<img th:id="${progress.category} + 'Img'" th:src="@{${'/resources/images/' + progress.category + '.png'}}">
						<h1 th:text="#{'category.'+ ${progress.category}}"></h1>
						<h2 th:text="${progress.numberOfSavedWords} + '/' + ${progress.numberOfWords}"></h2>
					</div>
			</th:block>
	</div> 

</body>

</html>