<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<meta charset="UTF-8">
<title>Learnish</title>
<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
<link
	href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"
	rel="stylesheet">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script><script th:inline="javascript">
var wordNumber = 0;
var listOfWords = [[${words}]];
var savedWords = [[${allWords} - ${#lists.size(words)}]];

window.onload = function() {
	  	displayWords(0);
	};

function displayWords(number) {
	wordNumber += number;
    if(wordNumber < [[${#lists.size(words)}]] && wordNumber >= 0)
    	{
    	document.getElementById("word").innerHTML = listOfWords[wordNumber].wordName +" "+listOfWords[wordNumber].wordRead;
    	document.getElementById("translation").innerHTML = listOfWords[wordNumber].wordTranslation;
    	}
    else if(wordNumber < 0)
    	{
    	wordNumber = 0;
    	}
    else if(wordNumber >= [[${#lists.size(words)}]])
    	{
    	wordNumber = [[${#lists.size(words)}]] -1;
    	alert("Brak kolejnych słówek");
    	}
}

function saveWord() {
	$.ajax({
		url : '/saveWord/' + listOfWords[wordNumber].wordId,
		success : function(data, status) {
	    	document.getElementById("numSavedWords").innerHTML = savedWords + 1;
	    	savedWords++;
	    	listOfWords.splice(wordNumber,1);
	    	displayWords(0);
		}
	})
}
</script>

</head>

<body>

	<div class="side">
		<a class="nav" href="/logout">Wyloguj</a> <a class="nav" href="/">Kategorie</a>
	</div>
	
	<div id="wordContainer">
		<h1 id="word"></h1>
		<h1 id="translation"></h1>
		<div>
			<img class="arrow" id="left" src="/resources/images/next.png" title="Poprzednie słowo" onClick=displayWords(-1);>
			<img src="/resources/images/saved.png" id="save" title="Oznacz jako nauczone" onClick=saveWord();>
			<img class="arrow" src="/resources/images/next.png" title="Następne słowo" onClick=displayWords(1);>
		</div>
	</div>
	<div class="side" id="foot" ><span>Postęp kategorii : </span><span id="numSavedWords">[[${allWords} - ${#lists.size(words)}]]</span><span th:text="${'/' + allWords}"></span></div>

</body>

</html>